<h1>Twitter de Merde</h1>
<p>J'aime pas l'appli</p>

<p><%= link_to "Home", root_path, class: "btn btn-info" %></p>

<p><%= form_tag("twitter") do %>
  <%= label_tag "Tweet : " %><br />
  <%= text_field_tag "tweet", width=200 %></p>
  <p><%= submit_tag "TWEET", class: "btn btn-info" %>
<% end %></p>
